*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{
  font-family:  Verdana;
  background-color:#fff;
}
a{
  text-decoration:none;
}
.logo {
  float:left;
  margin-top:12px;
  margin-left:15px;
}
.logo a{
  font-size:1.6em;
  color:#fff;
  text-decoration:none;
}
.logo a span{
  font-weight:300;
  color:#e67e22;
}
.button{
    background-color: #2980b9; 
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.blue {
    background-color: white; 
    color: black; 
    border: 2px solid #2980b9;
}

.blue:hover {
    background-color: #2980b9;
    color: white;
}


/* LOGIN.HTML */

div#container-login{
   width:90%;
   margin:0 auto;
   margin-top:50px;
   min-height:550px;

}
header#login{
  width:80%;
  height:60px;
  background-color:#34495e;
  margin:0 auto;

}
section#login{
  width:80%;
  height:50%;
  margin:0 auto;
  background-color:#fff;
  border:3px solid black;

}
article#login{
	width:100%;
}
article#login table{
	margin:50px auto;
	width:100%;
}
article#login table td#input{
	padding-left:6%;
}
input.textinput{
	height:2em;
	width:15em;
}
/*SIGNUP.HTML*/


div#container-signup{
   width:90%;
   margin:0 auto;
   margin-top:50px;
   min-height:550px;

}
header#signup{
  width:80%;
  height:60px;
  background-color:#34495e;
  margin:0 auto;

}
section#signup{
  width:80%;
  height:50%;
  margin:0 auto;
  background-color:#fff;
  border:3px solid black;

}
article#signup{
	width:100%;
}
article#signup table{
	font-size:1em;
	margin:10px auto;
	width:100%;
}
input.textinput{
	height:2em;
	width:15em;
}
